@import "tailwindcss";

body {
  color: white;
  background: #34353A;
  font-family: Arial, Helvetica, sans-serif;
}

.HeroBG{
  background: linear-gradient(90deg, #34353A 0.22%, #49443F 99.82%);
}

.companyBG{
  background: #3D3E42;
}
.background{
  background-color: #FBC76A;
}
.companyText{
  color: #FBC76A;
}
.boxShadow{
  box-shadow: rgba(251, 199, 106, 0.18) 1px 1px 20px;
}
.cardShadow:hover{
  box-shadow: rgba(251, 199, 106, 0.73) 1px 1px 20px;
}
.borderColor{
  border-color: rgb(251, 199, 106);
}

.summary-box{
  background-image: url("@/../../../public/images/Summary-Bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/*Hero animation*/

.typing-animation {
  color: #ffcf55; /* Text color matching cursor */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.1em 0.2em; /* Padding for background fit */
  border-right: 0.15em solid #ffcf55; /* Blinking cursor */
  animation:
          typing 3.5s steps(18, end) infinite, /* 18 steps for non-space characters */
          blink 0.75s step-end infinite; /* Blinking cursor */
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 30%; } /* Fully typed */
  100% { width: 0; } /* Erased */
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #ffcf55; } /* Match cursor color */
}
